---
layout: internal
masthead: /images/masthead/application.png
crumbs:
  - Qualitech
thumb: /images/thumb/application.png
title: Surface Preparation &amp; Application
description: Qualitech&trade; boasts of a large portfolio of projects and clients involving commercial surface application finishing. From architecural projects like airports and casinos to industrial ones like power plants and refineries, we at Qualitech&trade; ensure quality over our works.

projects1_size: 15
projects1_photo:
  - /images/application/architectural/venicepiazza.png
  - /images/application/architectural/marcopolo1.png
  - /images/application/architectural/marcopolo2.png
  - /images/application/architectural/insular1.png
  - /images/application/architectural/insular2.png
  - /images/application/architectural/onemckinley1.png
  - /images/application/architectural/onemckinley2.png
  - /images/application/architectural/enchanted.png
  - /images/application/architectural/powerplant1.png
  - /images/application/architectural/powerplant2.png
  - /images/application/architectural/solaire.png
  - /images/application/architectural/zuellig.png
  - /images/application/architectural/naia1.png
  - /images/application/architectural/naia2.png
  - /images/application/architectural/smmalls.png
projects1_photo_offset1y:
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
projects1_photo_offset2x:
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
projects1_photo_offset3x:
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
projects1_title:
  - Venice Piazza, McKinley Hill
  - Marco Polo Hotel, Ortigas
  - Marco Polo Hotel, Ortigas
  - Insular Life Ayala
  - Insular Life Alabang
  - One McKinley Place
  - One McKinley Place
  - Enchanted Kingdom
  - Power Plant Mall
  - Power Plant Mall
  - Solaire Casino &amp; Resorts
  - Zuellig Building
  - Ninoy Aquino International Airport 3
  - Ninoy Aquino International Airport 3
  - SM Malls

list1:
  - Novotel
  - Ascott Hotel
  - Cash &amp; Carry Mall
  - Chinese General Hospital
  - Citimotors Las Pinas
  - Cityland (Grand Emerald Bldg.)
  - Communication Foundation for Asia
  - Delos Santos Medical Center
  - Enchanted Kingdom
  - Hoya Philippines
  - Hyundai E. Rodriguez
  - i-Hub Building Cyberzone North Gate
  - Insular Life Building Makati/Alabang
  - Jackman Munoz EDSA
  - One-Roxas Triangle
  - Robinsons Place Manila
  - Rockwell Business Center
  - Rockwell Power Plant Mall
  - Rufino TowersSCC Building
  - Shangri-La Plaza
  - SM Batangas
  - SM Marikina
  - SM San Fernando, Pampanga
  - SM Valenzuela
  - SofitelSol Building
  - Solaire Entertainment City
  - Texas Instruments
  - Venice Corporate Center
  - Wyeth Philippines
  - Zuellig Building

projects2_size: 8
projects2_photo:
  - /images/application/industrial/sanjuanico.png
  - /images/application/industrial/sctex.png
  - /images/application/industrial/lrt2.png
  - /images/application/industrial/malampaya.png
  - /images/application/industrial/masinloc.png
  - /images/application/industrial/petron.png
  - /images/application/industrial/riotuba.png
  - /images/application/industrial/mindanao.png
projects2_photo_offset1y:
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
projects2_photo_offset2x:
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
projects2_photo_offset3x:
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
  - center
projects2_title:
  - San Juanico Bridge Rehabilitation
  - Subic-Clark-Tarlac Expressway (SCTEX)
  - LRT Line 2 Depot
  - Malampaya Gas to Power
  - Masinloc AES Power Plant
  - Petron Bataan Refinery
  - Rio Tuba Palawan Mining
  - Mindanao Power Plant

list2:
  - AES Power Plant
  - Alaska Milk Products
  - 50MW N2N Geothermal Power Plant
  - Charter Chemical Plant
  - Coastal Petroleum STO. Tank Project
  - EEI Corporation
  - First Balfour Warehouse
  - Ibiden Plant
  - LA Construction
  - LRT/EDSA Extension
  - Masinloc Power Plant
  - Manila Water Company, Inc.
  - NAIA Terminal 3
  - Nanox Philippines, Inc.
  - National Luzon Expressway (NLEX)
  - NLEX Mindanao Ave. Extension
  - Philip Morris Plant
  - Rio Tuba Mining
  - Subic-Clark-Tarlac Expressway (SCTEX)
  - Solid State
  - Southern Phils. Power Plant
  - Thermal South Energy 1 &amp; 2
  - Tokumi Electronics
  - Western Mindanao Power Plant
  - Wu Kong (S)Pte. Ltd.
---

<section>
<div class="row prob">
<div class="col-lg-12">
	<h1>Projects</h1>

	<section>
		<h2 class="underlined">Architectural</h2>
		<div class="underline"></div>

		{% include carousel-prelim.html %}

		{% include carousel-head.html %}
		    {% for i in (1..page.projects1_size) %}
		      {% include carousel-mid1.html %}
		    {% endfor %}
		  {% include carousel-mid2.html %}
		    {% for i in (1..page.projects1_size) %}
		      {% include item-carousel-head.html %}{{ site.baseurl }}{{ page.projects1_photo[forloop.index0] }}{% include item-carousel-mid.html %}{{ page.projects1_title[forloop.index0] }}{% include item-carousel-foot.html %}
		    {% endfor %}
		{% include carousel-mid3.html %}

    <style>
      @media (min-width: 768px) {
        {% for i in (1..page.projects1_size) %}
        div#carousel{{ carousel_id }}>div.carousel-inner>div.item:nth-of-type({{ forloop.index }}) {
          background-position-y: {{ page.projects1_photo_offset1y[forloop.index0] }};
        }
        {% endfor %}
      }

      @media (min-width: 504px) and (max-width: 768px){
        {% for i in (1..page.projects1_size) %}
        div#carousel{{ carousel_id }}>div.carousel-inner>div.item:nth-of-type({{ forloop.index }}) {
          background-position-x: {{ page.projects1_photo_offset2x[forloop.index0] }};
        }
        {% endfor %}
      }

      @media (max-width: 504px) {
        {% for i in (1..page.projects1_size) %}
        div#carousel{{ carousel_id }}>div.carousel-inner>div.item:nth-of-type({{ forloop.index }}) {
          background-position-x: {{ page.projects1_photo_offset3x[forloop.index0] }};
        }
        {% endfor %}
      }
    </style>

		{% include carousel-foot.html %}

		<ul class="list-break list-break-lg-6 list-break-xs-12">
	    	{% for item in page.list1 %}
	    		<li>{{ item }}</li>
	    	{% endfor %}
	    </ul>

	</section>

	<section>
		<h2 class="underlined">Industrial</h2>
		<div class="underline"></div>

		{% include carousel-head.html %}
		    {% for i in (1..page.projects2_size) %}
		      {% include carousel-mid1.html %}
		    {% endfor %}
		  {% include carousel-mid2.html %}
		    {% for i in (1..page.projects2_size) %}
		      {% include item-carousel-head.html %}{{ site.baseurl }}{{ page.projects2_photo[forloop.index0] }}{% include item-carousel-mid.html %}{{ page.projects2_title[forloop.index0] }}{% include item-carousel-foot.html %}
		    {% endfor %}
		{% include carousel-mid3.html %}

    <style>
      @media (min-width: 768px) {
        {% for i in (1..page.projects1_size) %}
        div#carousel{{ carousel_id }}>div.carousel-inner>div.item:nth-of-type({{ forloop.index }}) {
          background-position-y: {{ page.projects2_photo_offset1y[forloop.index0] }};
        }
        {% endfor %}
      }

      @media (min-width: 504px) and (max-width: 768px){
        {% for i in (1..page.projects1_size) %}
        div#carousel{{ carousel_id }}>div.carousel-inner>div.item:nth-of-type({{ forloop.index }}) {
          background-position-x: {{ page.projects2_photo_offset2x[forloop.index0] }};
        }
        {% endfor %}
      }

      @media (max-width: 504px) {
        {% for i in (1..page.projects1_size) %}
        div#carousel{{ carousel_id }}>div.carousel-inner>div.item:nth-of-type({{ forloop.index }}) {
          background-position-x: {{ page.projects2_photo_offset3x[forloop.index0] }};
        }
        {% endfor %}
      }
    </style>

		{% include carousel-foot.html %}

		<ul class="list-break list-break-lg-6 list-break-xs-12">
	    	{% for item in page.list2 %}
	    		<li>{{ item }}</li>
	    	{% endfor %}
	    </ul>

	</section>

</div>
</section>
