---
layout: main
tab1: Quality Control Monitoring
tab1_id: monitoring
tab2: Surface Preparation &amp; Application
tab2_id: application
---

<!--BEGIN Jumbotron-->
<section id="jumbotron" class="jumbotron" style="background-image: url('{{ site.baseurl }}/images/splash-bg.jpg');">
	<!--div class="row"><div class="col-lg-12"-->
<h1>Quality<br class="visible-xs"/> Service<br class="visible-lg visible-md visible-xs"/> <span class="hidden-xs">//</span> <br class="visible-lg visible-md"/><span class="jumbotron-h1-adjuster">Never<!--br class="visible-xs"/--> Compromised</span></h1>
<p>We are an industrial and technical services company based in Manila, Philippines. We specialize in the fields of industry quality control, inspection equipments and surface preparation.</p>
<!--/div></div-->
</section>
<!--END Jumbotron-->

<!--
{% include tabs.html %}
-->

<!--BEGIN Coatings-->
<section class="panel-wide panel-wide-subpaneled anchored" id="{{ page.tab1_id }}" style="background-image: url('{{ site.baseurl }}/images/monitoring.png');">
<h1>{{ page.tab1 | capitalize }}</h1>
<p>From international standards to inspection instruments, Qualitech™ ensures that your projects will be of highest quality and in safe hands through its wide inventory of assets.</p>
<!--BEGIN Coatings Subs-->
<section class="panel-wide-subpanel">
<ul class="list-flex">
<li class="list-flex-item list-flex-item-lg-4 list-flex-item-xs-12"><a href="{{ site.baseurl }}/monitoring/instruments" style="background-image: url('{{ site.baseurl }}/images/instruments.png');">Inspection Instruments</a></li>
</li>
<li class="list-flex-item list-flex-item-lg-4 list-flex-item-xs-12"><a href="{{ site.baseurl }}/monitoring/calibration" style="background-image: url('{{ site.baseurl }}/images/calibration.png');">Instrument Test &amp; Calibration</a></li>
</li>
<li class="list-flex-item list-flex-item-lg-4 list-flex-item-xs-12"><a href="{{ site.baseurl }}/monitoring/inspection" style="background-image: url('{{ site.baseurl }}/images/inspection.png');">Coating Inspection</a></li>
</li>
</ul>
</section>
<!--END Coatings Subs-->
</section>
<!--END Coatings-->

<!--BEGIN Application-->
<section class="panel-wide anchored" id="{{ page.tab2_id }}" style="background-image: url('{{ site.baseurl }}/images/application.png');">
<h1>{{ page.tab2 | capitalize }}</h1>
<p>Qualitech&trade; boasts of a large portfolio of projects and clients involving commercial surface application finishing, both in the architectural and the industrial fields.</p>
{% include learn-head.html %}{{ site.baseurl }}/application{% include learn-foot.html %}
</section>
<!--END Application-->
