---
layout: internal
masthead: /images/masthead/instruments.png
crumbs:
  - Qualitech
  - Coatings&#58; Quality Control Monitoring
thumb: /images/thumb/instruments.png
title: Inspection Instruments
description: For years since its establishment, Qualitech&trade; is the authorized and trusted distributor and service representative of Elcometer&trade; Coating Inspection Instruments in the Philippines. We are trusted by many companies in the industry for purchasing, acquisition and repair of Elcometer&trade; inspection equipments, among others.
---

<section>
<section class="panel-wide" style="background-image: url('{{ site.baseurl }}/images/owners.png');">
	<div class="row prob">
	<div class="col-lg-12">
			<h1 class="resize">Owners &amp; Contractors</h1>
			<h4 class="resize">Oil &amp; Gas | Geothermal | Marine | Utilities &amp; Power | Telecommunication | Protective Coatings | Contractors | Steel &amp; Pipe Fabricators</h4>
			{% include learn-head.html %}{{ site.baseurl }}/monitoring/instruments/owners{% include learn-foot.html %}
	</div>
	</div>
</section>

<section class="panel-wide" style="background-image: url('{{ site.baseurl }}/images/galvanizers.png');">
	<div class="row prob">
	<div class="col-lg-12">
			<h1 class="resize">Galvanizers &amp; Powder Coaters</h1>
			<h4 class="resize">Galvanizers &amp; Electroplating | Powder Coating | Car &amp; Appliances</h4>
			{% include learn-head.html %}{{ site.baseurl }}/monitoring/instruments/galvanizers{% include learn-foot.html %}
	</div>
	</div>
</section>

<section class="panel-wide" style="background-image: url('{{ site.baseurl }}/images/research.png');">
	<div class="row prob">
	<div class="col-lg-12">
			<h1 class="resize">Production &amp; Research</h1>
			<h4 class="resize">Paint &amp; Coating | Ink &amp; Chemical | Adhesives | Research Labs</h4>
			{% include learn-head.html %}{{ site.baseurl }}/monitoring/instruments/research{% include learn-foot.html %}
	</div>
	</div>
</section>

</section>
